@import "tailwindcss";


.vertical-marquee {
  animation: scrollUp 16s linear infinite;
}

@keyframes scrollUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.vertical-marquee:hover {
  animation-play-state: paused;
}

.roman{
  list-style: decimal;
}